@import './_variables'
@import './_mixins'
@import '~bootstrap/scss/bootstrap'

*
  box-sizing: border-box
  outline: none

html,
body
  height: 100%
  overflow-x: hidden

body 
  color: $main-text-color
  background-color: $main-background-color
  font-size: $main-text-size
  font-family: 'Montserrat', sans-serif !important
  padding-bottom: 4rem  // Ajusta este valor si es necesario para la altura de la Navbar

code 
