@import './_variables'
@import './_mixins'



  
*
  box-sizing: border-box
  outline: none

html,
body
  height: 100%
  overflow-x: hidden
body 
  color: $main-text-color
  background-color: $main-background-color
  font-size: $main-text-size
  font-family: 'Montserrat', sans-serif !important

code 



